@page
@model FinalProject_.Net.Pages.customer.OrderDetailModel
@{
    Layout = "_LayoutCustomer";
}

<!--Main layout-->
<main class="mb-6" style="margin-top: 30px">
    <div class="container">
        <!-- Section: Cart -->
        <section class="">
            <div class="row gx-lg-5">
                <div class="col-lg-8 mb-4 mb-md-0">
                    <!-- Section: Product list -->
                    <section class="mb-5">
                        <!-- Single item -->
                        <div class="row border-bottom mb-4">
                            <div class="col-md-2 mb-4 mb-md-0">
                                <div class="
                            bg-image
                            ripple
                            rounded-5
                            mb-4
                            overflow-hidden
                            d-block
                            " data-ripple-color="light">
                                    <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/085.jpg" class="w-100" alt="" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.2)"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-8 mb-4 mb-md-0">
                                <p class="fw-bold">Sophisticated dress</p>
                                <p class="mb-1">
                                    <span class="text-muted me-2">Size:</span><span>8.5</span>
                                </p>
                                <p>
                                    <span class="text-muted me-2">Color:</span><span>Gray</span>
                                </p>

                                <p class="mb-4">
                                    <a href="" class="text-muted pe-3 border-end"><small><i class="fas fa-trash me-2"></i>Remove</small></a>
                                    <a href="" class="text-muted ps-3">
                                        <small>
                                            <i class="fas fa-heart me-2"></i>Move to wish
                                            list
                                        </small>
                                    </a>
                                </p>
                            </div>

                            <div class="col-md-2 mb-4 mb-md-0">
                                <div class="form-outline mb-4" data-mdb-input-init>
                                    <input type="number" id="typeNumber" class="form-control" value="1" min="1" />
                                    <label class="form-label" for="typeNumber">Quantity</label>
                                </div>

                                <h5 class="mb-2">
                                    <s class="text-muted me-2 small align-middle">$119</s><span class="align-middle">$101</span>
                                </h5>
                                <p class="text-danger"><small>You save 15%</small></p>
                            </div>
                        </div>
                        <!-- Single item -->
                        <!-- Single item -->
                        <div class="row border-bottom mb-4">
                            <div class="col-md-2 mb-4 mb-md-0">
                                <div class="
                            bg-image
                            ripple
                            rounded-5
                            mb-4
                            overflow-hidden
                            d-block
                            " data-ripple-color="light">
                                    <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/114.jpg" class="w-100" alt="" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.2)"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-8 mb-4 mb-md-0">
                                <p class="fw-bold">Fashionable coat</p>
                                <p class="mb-1">
                                    <span class="text-muted me-2">Size:</span><span>8.5</span>
                                </p>
                                <p>
                                    <span class="text-muted me-2">Color:</span><span>Beige</span>
                                </p>

                                <p class="mb-4">
                                    <a href="" class="text-muted pe-3 border-end"><small><i class="fas fa-trash me-2"></i>Remove</small></a>
                                    <a href="" class="text-muted ps-3">
                                        <small>
                                            <i class="fas fa-heart me-2"></i>Move to wish
                                            list
                                        </small>
                                    </a>
                                </p>
                            </div>

                            <div class="col-md-2 mb-4 mb-md-0">
                                <div class="form-outline mb-4" data-mdb-input-init>
                                    <input type="number" id="typeNumber" class="form-control" value="1" min="1" />
                                    <label class="form-label" for="typeNumber">Quantity</label>
                                </div>

                                <h5 class="mb-2">
                                    <s class="text-muted me-2 small align-middle">$119</s><span class="align-middle">$101</span>
                                </h5>
                                <p class="text-danger"><small>You save 15%</small></p>
                            </div>
                        </div>
                        <!-- Single item -->
                        <!-- Single item -->
                        <div class="row border-bottom mb-4">
                            <div class="col-md-2 mb-4 mb-md-0">
                                <div class="
                            bg-image
                            ripple
                            rounded-5
                            mb-4
                            overflow-hidden
                            d-block
                            " data-ripple-color="light">
                                    <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/084.jpg" class="w-100" alt="" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.2)"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-8 mb-4 mb-md-0">
                                <p class="fw-bold">Hot skirt</p>
                                <p class="mb-1">
                                    <span class="text-muted me-2">Size:</span><span>8.5</span>
                                </p>
                                <p>
                                    <span class="text-muted me-2">Color:</span><span>Multicolour</span>
                                </p>

                                <p class="mb-4">
                                    <a href="" class="text-muted pe-3 border-end"><small><i class="fas fa-trash me-2"></i>Remove</small></a>
                                    <a href="" class="text-muted ps-3">
                                        <small>
                                            <i class="fas fa-heart me-2"></i>Move to wish
                                            list
                                        </small>
                                    </a>
                                </p>
                            </div>

                            <div class="col-md-2 mb-4 mb-md-0">
                                <div class="form-outline mb-4" data-mdb-input-init>
                                    <input type="number" id="typeNumber" class="form-control" value="1" min="1" />
                                    <label class="form-label" for="typeNumber">Quantity</label>
                                </div>

                                <h5 class="mb-2">
                                    <s class="text-muted me-2 small align-middle">$119</s><span class="align-middle">$101</span>
                                </h5>
                                <p class="text-danger mb-4"><small>You save 15%</small></p>
                            </div>
                        </div>
                        <!-- Single item -->
                    </section>
                    <!-- Section: Product list -->
                    <!-- Section: Details -->
                    
                    <!-- Section: Details -->
                </div>

                <div class="col-lg-4 mb-4 mb-md-0">
                    <!-- Section: Summary -->
                    <section class="shadow-4 p-4 rounded-5 mb-4">
                        <h5 class="mb-5">The total amount of</h5>

                        <div class="d-flex justify-content-between mb-3">
                            <span>Temporary amount </span>
                            <span>$53,98</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Shipping </span>
                            <span>Gratis</span>
                        </div>
                        <hr class="my-4" />
                        <h5 class="mb-5">Customer Information</h5>

                        <div class="d-flex justify-content-between mb-3">
                            <span>Temporary amount </span>
                            <span>$53,98</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Shipping </span>
                            <span>Gratis</span>
                        </div>

                     
                    </section>
                    <!-- Section: Summary -->
                    <!-- Section: Summary -->
                    <section class="shadow-4 p-4 rounded-5">
                        <h5 class="mb-4">Apply promo code</h5>

                        <div class="d-flex align-items-center">
                            <input type="text" class="form-control rounded me-1" placeholder="Promo code" />
                            <button type="button" class="btn btn-link btn-rounded overflow-visible">
                                Apply
                            </button>
                        </div>
                    </section>
                    <!-- Section: Summary -->
                </div>
            </div>
        </section>
        <!-- Section: Cart -->
    </div>
</main>