@page
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UserProfileModel
@{
    Layout = "_LayoutCustomer";
}

<!-- Container for demo purpose -->
<div class="container px-4">

    <!--Section: Profile-->
    <section>
        <form method="post" id="form1" enctype="multipart/form-data">
            <div class="row gx-xl-5">
                <div class="col-md-8 mb-4 mb-md-0 card" style="margin-top:20px">
                    <div class="card shadow-0 mb-5">
                        <div class="card-header py-3">
                            <strong>Edit your profile</strong>
                        </div>
                        <div class="card-body text-center">
                            <input type="hidden" asp-for="saler.Id"/>
                            <input type="hidden" asp-for="saler.Avatar"/>
                            <input type="hidden" asp-for="saler.Password"/>

                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="formNameProduct" asp-for="saler.FName" class="form-control" required/>
                                <label class="form-label" for="formNameProduct">Frist Name</label>
                            </div>

                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="formNameProduct" asp-for="saler.LName" class="form-control" required/>
                                <label class="form-label" for="formNameProduct">Last Name</label>
                            </div>

                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="formNameProduct" asp-for="saler.Username" class="form-control" required/>
                                <label class="form-label" for="formNameProduct">User Name</label>
                            </div>

                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="email" id="formNameProduct" asp-for="saler.EmailAddress" class="form-control" required/>
                                <label class="form-label" for="formNameProduct">Email</label>
                            </div>

                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="formNameProduct" asp-for="saler.Address" class="form-control" required/>
                                <label class="form-label" for="formNameProduct">Address</label>
                            </div>


                            <button id="submitBoth" type="submit" class="btn btn-primary mb-2">
                                Update profile
                            </button>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4 mb-md-0" style="margin-top:20px">
                    <div class="card shadow-0">
                        <div class="card-body text-center">
                            <div class="mt-1 mb-4">
                                <strong>Profile photo</strong>
                            </div>
                            @*   <a data-mdb-ripple-init href="#!">
                            <img class="img-fluid rounded" src="/admin/product/Edit?handler=Image&id=@Model.product.Id"
                            alt="avatar" style="width: 250px;">
                            </a> *@

                            <div>
                                <div class="mb-4 d-flex justify-content-center">
                                    <img id="selectedImage" src="/customer/UserProfile?handler=Image&amp;id=@Model.saler.Id"
                                         alt="Avatar" class="rounded-circle shadow-1 mb-3"
                                         style="width: 200px;"/>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="btn btn-primary btn-rounded">
                                        <label class="form-label text-white m-1" for="customFile1">Choose your image</label>
                                        <input type="file" name="imageFile" accept="image/png, image/gif, image/jpeg" class="form-control d-none" id="customFile1" onchange="displaySelectedImage(event, 'selectedImage')"/>
                                    </div>
                                </div>
                            </div>
                            <p class="mb-1" style="margin-top: 15px" id="displayText">
                                <strong></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row gx-xl-5">
            <div class="col-md-8 mb-4 mb-md-0 card" style="margin-top:20px">
                <div class="card shadow-0">
                    <div class="card-header py-3">
                        <strong>Change password</strong>
                    </div>
                    <div class="card-body text-center pt-4">
                        <form method="post" asp-page-handler="Password">
                            <input type="hidden" asp-for="Id"/>
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="password" id="newPassword" asp-for="Password" class="form-control" required/>
                                <label class="form-label" for="newPassword">New password</label>
                            </div>

                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="password" id="confirmPassword" class="form-control"  required/>
                                <label class="form-label" for="confirmPassword">Confirm password</label>
                            </div>

                            <button type="submit" class="btn btn-primary mb-2">Apply</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Profile-->
</div>
<!-- Container for demo purpose -->
<script>

    document.getElementById('formNameProduct').addEventListener('input',
        function() {
            document.getElementById('displayText').innerHTML = `<strong>${this.value}</strong>`;
        });

    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>