@page
@model FinalProject_.Net.Pages.admin.IndexModel

@{
    Layout = "_LayoutAdmin";
    ViewData["isOverview"] = true;
    ViewData["Title Dashboard"] = "POS System Dashboard";
    ViewData["Category"]="Overview";
    ViewData["SubCategory"]="POS System";
}


<!-- Container for demo purpose -->
<div class="container px-4">
    <!--Section: Content-->
    <section class="text-center">
        <div class="row gx-xl-5">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="card shadow-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <div class="p-3 badge-primary rounded-4">
                                    <i class="fas fa-dollar-sign fa-lg fa-fw"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <p class="text-muted mb-1">Total revenue</p>
                                <h2 class="mb-0">
                                    @Model.TotalRevenue
                                    <span class="" style="font-size: 0.875rem">
                                        USD</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow-0">
                    <div class="card-body">

                        <canvas
                            data-mdb-chart-init
                            data-mdb-chart="line"
                            data-mdb-dataset-label="@Model.LabelTipsRevenue"
                            data-mdb-labels="[@Model.ChartLabelRevenue]"
                            data-mdb-dataset-data="[@Model.ChartDataRevenue]"
                        ></canvas>
                       
                    </div>
                </div>
            </div>



            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="card shadow-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <div class="p-3 badge-primary rounded-4">
                                    <i class="fas fa-receipt fa-lg fa-fw"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <p class="text-muted mb-1">Total Order</p>
                                <h2 class="mb-0">
                                    @Model.TotalOrder
                                    @* <span class="" style="font-size: 0.875rem">
                                        USD</span> *@
                                    @* <span class="text-success" style="font-size: 0.875rem"><i class="fas fa-arrow-up fa-sm"></i>
                                        <span> 8.3%</span></span> *@
                                </h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <section class="mb-8" style="margin-top:30px">
                <div class="card shadow-0">
                    <div class="card-body">
                        <strong>Chart by Order</strong>
                        <!-- Chart -->
                        <canvas
                            data-mdb-chart-init
                            data-mdb-chart="line"
                            data-mdb-dataset-label="Traffic"
                            data-mdb-labels="['Monday', 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' , 'Saturday' , 'Sunday ']"
                            data-mdb-dataset-data="[2112, 2343, 2545, 3423, 2365, 1985, 987]"
                        ></canvas>       
                    </div>
                </div>

            </section>
           
        </div>
    </section>
    <!--Section: Content-->
</div>
<!-- Container for demo purpose -->



