@page
@model FinalProject_.Net.Pages.admin.Saler.EditModel
@{
    Layout = "_LayoutAdmin";
    ViewData["isOverview"] = false;
    ViewData["Title Dashboard"] = "Edit Saler";
    ViewData["Category"] = "Manage";
    ViewData["SubCategory"] = "Edit";
}
<div class="container px-4">
    <div class="row">
        <div class="row gx-xl-5">
            <div class="card shadow-0 h-100" style="margin-left:20px">
                <div class="card-header py-3">
                    <p class="mb-0"><i class="fas fa-store" style="margin-right: 10px"></i> Saler information</p>
                </div>
                <form method="post">
                    <input asp-for="Saler.Id" type="hidden" />
                    <input asp-for="Saler.Password" type="hidden"/>
                    <input asp-for="Saler.Avatar" type="hidden" />
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form6Example1" asp-for="Saler.FName" class="form-control" required />
                                <label class="form-label" for="form6Example1">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form6Example2" asp-for="Saler.LName" class="form-control" required />
                                <label class="form-label" for="form6Example2">Last name</label>
                            </div>
                        </div>
                    </div>

                    <!-- Text input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example3" asp-for="Saler.Username" class="form-control" required />
                        <label class="form-label" for="form6Example3">User name</label>
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="form6Example5" class="form-control" asp-for="Saler.EmailAddress" required />
                        <label class="form-label" for="form6Example5">Email</label>
                    </div>

                    <!-- Text input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example4" asp-for="Saler.Address" class="form-control" required />
                        <label class="form-label" for="form6Example4">Address</label>
                    </div>

                    <div class="form-outline mb-4">
                        <select asp-for="RoleId" asp-items="@Model.RoleList" data-mdb-select-init>
                            <option value="">Select a role</option>
                        </select>
                        <label class="form-label select-label">Role</label>
                    </div>
                    

                    <!-- Message input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <textarea class="form-control" id="form6Example7" rows="4" asp-for="Saler.AdditionalInfo"></textarea>
                        <label class="form-label" for="form6Example7">Additional information</label>
                    </div>

                    <!-- Submit button -->
                    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Update this Saler</button>
                </form>

            </div>
        </div>
    </div>
</div>

